@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import '~projects/open-pass/src/styles/variables';
@import '~projects/open-pass/src/styles/base';
@import '~projects/open-pass/src/styles/buttons';
@import '~projects/open-pass/src/styles/typography';
@import '~projects/open-pass/src/styles/grid';

:host:not([hidden='true']) {
  width: 100%;
  height: 100%;
  display: block;
  color: $text-color;
  font-family: 'Raleway', sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.01em;
  padding-bottom: 1rem;

  &.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2147483647;

    .container {
      overflow: auto;
      padding: 2em;
    }
  }
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @supports (display: grid) {
    & {
      display: grid;
    }
  }
}

.widget-body {
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  background: #fff;
  z-index: 1;
  position: relative;

  &.shadow {
    box-shadow: 1px 0 7px 3px rgb(0 0 0 / 4%), 0 -1px 7px 3px rgb(0 0 0 / 4%), -1px 0 7px 3px rgb(0 0 0 / 4%);
    padding: 1rem 2rem;
  }
}

.btn-close {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background: #fff;
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background: rgb(0 0 0 / 10%);
}

.spec-list-option {
  display: flex;
  align-items: center;
  padding: 5px 0;

  .spec-list-icon {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}

.op-logo-container {
  max-width: 200px;
  margin-bottom: 1.5rem;

  img {
    width: 100%;
  }
}

wdgt-open-pass-details {
  margin-bottom: -1rem;
  display: block;
}
