<div *ngIf="isOpen" class="container">
  <div *ngIf="view === widgetMods.modal" class="backdrop" (click)="backdropClick()"></div>
  <div class="widget-body" [class.shadow]="view === widgetMods.modal">
    <h3 translate>UNLOGGED.HEADING</h3>
    <div class="op-logo-container">
      <img [src]="'/assets/images/open-pass-logo.png' | useDeployUrl" alt="OpenPass logo" />
    </div>
    <p translate>WELCOME.WITH</p>
    <div class="my-3">
      <div class="spec-list-option" data-test="non-auth-pros-item">
        <div class="spec-list-icon">
          <img [src]="'/assets/images/email-sec.png' | useDeployUrl" alt="info" data-test="non-auth-img-info" />
        </div>
        <div translate>WELCOME.OPEN_PASS_PROS.INFORMATION</div>
      </div>
      <div class="spec-list-option" data-test="non-auth-pros-item">
        <div class="spec-list-icon">
          <img [src]="'/assets/images/ntwrk.png' | useDeployUrl" alt="lock" data-test="non-auth-img-lock" />
        </div>
        <div [innerHTML]="'WELCOME.OPEN_PASS_PROS.ACCESS' | translate"></div>
      </div>
      <div class="spec-list-option" data-test="non-auth-pros-item">
        <div class="spec-list-icon">
          <img [src]="'/assets/images/priv-cntrl.png' | useDeployUrl" alt="safe" data-test="non-auth-img-safe" />
        </div>
        <div translate>WELCOME.OPEN_PASS_PROS.CONTROL</div>
      </div>
    </div>
    <button translate type="button" class="btn btn-wide btn-primary my-3" (click)="launchOpenPassApp()">
      UNLOGGED.ACTION
    </button>
  </div>
</div>
