:host {
  display: contents;
  all: initial;
}

.styled-a {
  color: #4e8400;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.15s;

  &:hover {
    &:not(.btn) {
      color: #2d4d00;
    }
  }
}
