<h3 class="mb-1">Get Access With</h3>
<div class="op-logo-container">
  <img src="./assets/images/open-pass-logo.png" alt="OpenPass" />
</div>
<p>
  You're about to access <b>{{ websiteName }}</b> for free! OpenPass enables <b>{{ websiteName }}</b> to show you more
  relevant ads, wish supports their business and keeps the content free.
</p>
<div class="my-3">
  <div class="spec-list-option" data-test="main-pros-item">
    <div class="spec-list-icon">
      <img src="./assets/images/email-sec.png" alt="info" />
    </div>
    <div>Your information will never be shared with anyone without your permission.</div>
  </div>
  <div class="spec-list-option" data-test="main-pros-item">
    <div class="spec-list-icon">
      <img src="./assets/images/ntwrk.png" alt="lock" />
    </div>
    <div>Unlock access to a large network of websites for free.</div>
  </div>
  <div class="spec-list-option" data-test="main-pros-item">
    <div class="spec-list-icon">
      <img src="./assets/images/priv-cntrl.png" alt="safe" />
    </div>
    <div>Control your privacy with just <a href="https://criteo.com/privacy">one link</a>.</div>
  </div>
</div>
<button
  type="button"
  class="btn btn-wide btn-primary"
  routerLink="auth"
  queryParamsHandling="preserve"
  data-test="main-action-btn"
>
  Sign up with OpenPass
</button>
<div class="text-center p-3">
  <a href="">Other way to access this site</a>
</div>
