* {
  box-sizing: border-box;
}

body {
  color: $text-color;
  font-family: 'Raleway', sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.01em;
}

.spec-list-option {
  display: flex;
  align-items: center;
  padding: 5px 0;

  .spec-list-icon {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
