.btn {
  border: none;
  background: transparent;
  padding: 0.75rem;
  cursor: pointer;
  appearance: none;
  border-radius: $base-radius;
  letter-spacing: 0.02em;

  &-primary {
    background: $primary-dark;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.87rem;
    transition: color 0.15s;

    &:active {
      color: $primary-light;
    }
  }

  &-wide {
    width: 100%;
  }

  &:focus {
    outline: transparent solid 1px;
  }

  &-link {
    color: $link-color;
    transition: color 0.15s;
    padding: 0;

    &:hover {
      color: $secondary-accent-1;
    }
  }
}

a.btn {
  display: inline-block;
  text-align: center;

  &:hover {
    text-decoration: none;
  }
}
