$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    2: (
      $spacer * 0.5,
    ),
    3: $spacer,
    4: (
      $spacer * 1.5,
    ),
    5: (
      $spacer * 3,
    ),
    6: (
      $spacer * 4,
    ),
  ),
  $spacers
);

@for $i from 1 through 6 {
  .p-#{$i} {
    padding: map-get($spacers, $i) !important;
  }

  .pt-#{$i},
  .py-#{$i} {
    padding-top: map-get($spacers, $i) !important;
  }

  .pb-#{$i},
  .py-#{$i} {
    padding-bottom: map-get($spacers, $i) !important;
  }

  .pr-#{$i},
  .px-#{$i} {
    padding-right: map-get($spacers, $i) !important;
  }

  .pl-#{$i},
  .px-#{$i} {
    padding-left: map-get($spacers, $i) !important;
  }
}
