@import 'variables';

button {
  width: 36px;
  height: 36px;
  background: #415994 url('../../../assets/images/facebook-btn.png') center center no-repeat;
  appearance: none;
  border: none;
  border-radius: $base-radius;
  cursor: pointer;
  transition: filter 0.15s ease;

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.8);
  }

  &:disabled {
    filter: grayscale(1);
    cursor: default;
  }
}
