<ng-container *ngIf="!(authState$ | async).isEmailVerified">
  <h1 data-test="auth-page-title" translate>AUTH.HEADING_1</h1>
  <h3 class="mb-2" translate>AUTH.SUB_HEADING_1</h3>
  <p class="mt-2" [innerHTML]="'AUTH.DESCRIPTION_1' | translate"></p>
</ng-container>
<ng-container *ngIf="(authState$ | async).isEmailVerified">
  <h1 data-test="auth-page-title" translate>AUTH.HEADING_2</h1>
  <h3 class="mb-2" translate>AUTH.SUB_HEADING_2</h3>
  <p class="mt-2" translate>AUTH.DESCRIPTION_2</p>
</ng-container>

<form *ngIf="authState$ | async as authState" (submit)="submitForm()" ngNativeValidate>
  <div class="form-group">
    <input
      [class.invalid]="!authState.isEmailValid"
      data-test="auth-input-email"
      name="email"
      [placeholder]="'SHARED.FORM.EMAIL_PLACEHOLDER' | translate"
      class="form-control"
      type="email"
      required
      [value]="authState.email"
      (change)="patchEmail($event)"
    />
    <div class="hint" data-test="auth-email-warning" translate>SHARED.FORM.EMAIL_ERROR</div>
  </div>
  <div *ngIf="authState.isEmailVerified" class="form-group">
    <input
      [class.invalid]="!authState.isCodeValid"
      data-test="auth-input-code"
      name="verification code"
      [placeholder]="'SHARED.FORM.CODE_PLACEHOLDER' | translate"
      class="form-control"
      type="number"
      required
      [ngModel]="authState.code"
      (change)="patchCode($event)"
    />
    <div class="hint" data-test="auth-code-warning" translate>SHARED.FORM.CODE_ERROR</div>
  </div>
  <div *ngIf="!authState.isEmailVerified" class="py-3"></div>
  <div class="pt-3">
    <button
      *ngIf="!authState.isEmailVerified"
      data-test="auth-action-btn"
      type="submit"
      class="btn btn-primary btn-wide"
    >
      {{ 'AUTH.ACTION' | translate }}
    </button>
    <button
      *ngIf="authState.isEmailVerified"
      data-test="auth-action-btn"
      type="submit"
      class="btn btn-primary btn-wide"
    >
      {{ 'AUTH.ACTION_PROCEED' | translate }}
    </button>
  </div>
</form>
<div class="text-center p-3">
  <a routerLink="../sso" translate>SHARED.OTHER_WAY</a>
</div>

<usrf-copyright></usrf-copyright>

<div *ngIf="(authState$ | async).isFetching" class="loader"></div>
