<ng-container *ngIf="!toBeVerified">
  <h2>Hi there!</h2>
  <p><b>Welcome to OpenPass.</b></p>
  <p>
    Please enter your email address. <br />
    You will only need to do this once for all OpenPass sites.
    <b>Your email address will not be shared without your permission.</b>
  </p>
</ng-container>
<ng-container *ngIf="toBeVerified">
  <h2>Thanks!</h2>
  <p><b>Check your email...</b></p>
  <p>Please enter the verification code that was sent to your email address.</p>
</ng-container>

<form (submit)="submitForm()" ngNativeValidate>
  <div class="form-group">
    <input
      name="email"
      placeholder="Enter email address"
      class="form-control"
      type="email"
      required
      [(ngModel)]="userEmail"
    />
  </div>
  <div *ngIf="toBeVerified" class="form-group">
    <input
      name="verification code"
      placeholder="Enter verification code"
      class="form-control"
      type="number"
      required
      [(ngModel)]="verificationCode"
    />
  </div>
  <div class="form-group">
    <label class="pl-3 align-center">
      <input class="form-control" name="share email" type="checkbox" [(ngModel)]="allowToShareEmail" />
      Share my email with {{ websiteName }}
    </label>
  </div>

  <div class="pt-3">
    <button type="submit" class="btn btn-primary btn-wide">Continue</button>
  </div>
</form>
<div class="text-center p-3">
  <a href="">Other way to access this site</a>
</div>

<div class="provided-by">
  <strong>Provided by</strong>
  <img src="./assets/images/open-pass-logo-sm.png" alt="OpenPass" />
</div>
