@import '~projects/open-pass/src/styles/variables';

:host {
  display: contents;
  all: initial;
}

.wrapper {
  position: relative;
  z-index: $max-z-index;
}

.nav-item {
  background-color: #fff;
  padding: 0.5rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border: none;
  font-size: 1.3rem;
  line-height: 0.6;
  color: #727881;

  &:active {
    color: $primary-dark;
  }
}

.widget {
  text-align: center;
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
  width: 300px;
  padding: 3rem 1rem 1rem;
  background-color: #fff;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.07), 0 3px 14px rgba(0, 0, 0, 0.06), 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  color: $text-color;
  font-family: 'Raleway', sans-serif;
  font-size: 0.75rem;

  h2 {
    font-size: 1rem;
    line-height: 1.1;
    margin: 0.5rem 0 1.5rem;
  }
}

.slide-image {
  margin-bottom: 1rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.brand-button {
  text-transform: uppercase;
  margin-bottom: 0.5rem;

  &:not(.light) {
    color: #fff;
  }

  &:active {
    filter: grayscale(0.2);
  }
}

.brand-logo {
  padding: 0 1rem;

  img {
    max-width: 100%;
  }
}

.provided-by {
  padding: 1rem 0;
  font-size: 0.6rem;

  h4 {
    font-size: 0.6rem;
    margin: 0.25rem 0;
  }

  img {
    width: 80px;
    margin: 0.25rem 0;
  }

  .link-more {
    color: #000;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
