@import 'variables';

$widget-space: 1.5rem;

details {
  padding: 0 $widget-space;
  margin: 0 #{-$widget-space};
  background: #eee;
}

summary::-webkit-details-marker,
summary::marker {
  font-size: 0;
  line-height: 0;
}

summary {
  position: relative;
  line-height: 50px;
  outline: none;
  cursor: pointer;
  margin: 0 #{-$widget-space};
  padding: 0 $widget-space;

  &::after {
    content: '';
    background: $primary-light;
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 0;
    left: 50%;
    right: 0;
    transition: width 0.15s, left 0.15s;
  }

  &::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: currentColor;
    position: absolute;
    right: $widget-space;
    top: calc(50% - 9px);
    transform: translateY(6px);
    transition: transform 0.15s;
  }
}

details[open] {
  padding-bottom: 1rem;

  summary {
    &::after {
      left: 0;
      width: 100%;
    }

    &::before {
      transform: rotate(180deg);
    }
  }
}
