<ng-container>
  <h1 data-test="auth-page-title" translate>AUTH.HEADING</h1>
  <h3 class="mb-2" translate>AUTH.SUB_HEADING</h3>
  <p class="mt-2" [innerHTML]="'AUTH.DESCRIPTION' | translate"></p>
</ng-container>

<form *ngIf="authState$ | async as authState" (submit)="submitForm()" ngNativeValidate>
  <div class="form-group">
    <input
      [class.invalid]="!authState.isEmailValid"
      data-test="auth-input-email"
      name="email"
      [placeholder]="'SHARED.FORM.EMAIL_PLACEHOLDER' | translate"
      class="form-control"
      type="email"
      required
      [value]="authState.email"
      (input)="patchEmail($event)"
    />
    <div class="hint" data-test="auth-email-warning" translate>SHARED.FORM.EMAIL_ERROR</div>
  </div>
  <div *ngIf="authState.isEmailVerified" class="form-group">
    <input
      [class.invalid]="!authState.isCodeValid"
      data-test="auth-input-code"
      name="verification code"
      [placeholder]="'SHARED.FORM.CODE_PLACEHOLDER' | translate"
      class="form-control"
      type="number"
      required
      [ngModel]="authState.code"
      (input)="patchCode($event)"
    />
    <div class="hint" data-test="auth-code-warning" translate>SHARED.FORM.CODE_ERROR</div>
  </div>
  <div *ngIf="authState.isEmailVerified" class="my-3">
    <label class="form-control d-flex align-center">
      <input
        data-test="auth-agreement"
        name="agreement"
        type="checkbox"
        class="form-control mr-2"
        [(ngModel)]="isAcceptAgreement"
      />
      <span translate> SHARED.AGREEMENT </span>
    </label>
  </div>
  <div class="mt-3">
    <button
      data-test="auth-action-btn"
      type="submit"
      class="btn btn-primary btn-wide"
      [disabled]="authState.isEmailVerified ? !isAcceptAgreement : !authState.email.length"
    >
      {{ 'AUTH.ACTION' | translate }}
    </button>
  </div>
</form>
<p class="text-small text-muted my-4" [innerHTML]="'AUTH.HINT' | translate"></p>

<usrf-copyright></usrf-copyright>

<div *ngIf="(authState$ | async).isFetching" class="loader"></div>
