<h3 class="mb-2" translate>NON_AUTH.HEADING</h3>
<p [innerHTML]="'NON_AUTH.SUB_HEADING' | translate"></p>
<p class="my-4">
  <label class="d-flex align-center form-control">
    <input
      type="checkbox"
      class="form-control mr-2"
      name="terms"
      data-test="non-auth-terms-checkbox"
      required
      [(ngModel)]="acceptTerms"
    />
    {{ 'NON_AUTH.CONDITION' | translate }}
  </label>
</p>
<p class="text-small text-muted" [innerHTML]="'NON_AUTH.HINT' | translate"></p>
<button
  type="button"
  class="btn btn-wide btn-primary my-4"
  data-test="non-auth-action-btn"
  translate
  [disabled]="!acceptTerms"
  (click)="fetchIfaAndProceed()"
>
  NON_AUTH.ACTION
</button>
<div class="text-center pt-2 pb-3">
  <button class="btn btn-link" (click)="closeWindow()" translate>SHARED.CONTINUE_WITHOUT</button>
</div>
<usrf-copyright></usrf-copyright>

<div *ngIf="isFetching$ | async" class="loader"></div>
