<h3 class="mb-2" translate>NON_AUTH.HEADING</h3>
<div class="op-logo-container">
  <img src="./assets/images/open-pass-logo.png" alt="OpenPass" data-test="non-auth-img-logo" />
</div>
<p [innerHTML]="'NON_AUTH.DESCRIPTION' | translate: { websiteName: (websiteName$ | async) || '' }"></p>
<p translate>NON_AUTH.WITH</p>
<div class="mt-3 pb-4">
  <div class="spec-list-option" data-test="main-pros-item">
    <div class="spec-list-icon">
      <img src="assets/images/support.png" alt="info" data-test="main-img-info" />
    </div>
    <div translate>NON_AUTH.OPEN_PASS_PROS.INFORMATION</div>
  </div>
  <div class="spec-list-option" data-test="main-pros-item">
    <div class="spec-list-icon">
      <img src="assets/images/ntwrk.png" alt="lock" data-test="main-img-lock" />
    </div>
    <div [innerHTML]="'WELCOME.OPEN_PASS_PROS.ACCESS' | translate"></div>
  </div>
  <div class="spec-list-option" data-test="main-pros-item">
    <div class="spec-list-icon">
      <img src="assets/images/icon-email.png" alt="safe" data-test="main-img-safe" />
    </div>
    <div [innerHTML]="'WELCOME.OPEN_PASS_PROS.CONTROL' | translate"></div>
  </div>
</div>
<p>
  <label class="d-flex align-center form-control">
    <input type="checkbox" class="form-control mr-2" [(ngModel)]="acceptTerms" name="terms" required />
    I agree to the OpenPass terms and conditions
  </label>
</p>
<p class="text-small text-muted" [innerHTML]="'NON_AUTH.HINT' | translate"></p>
<button
  type="button"
  class="btn btn-wide btn-primary my-4"
  data-test="non-auth-action-btn"
  translate
  [disabled]="!acceptTerms"
  (click)="fetchIfaAndProceed()"
>
  NON_AUTH.ACTION
</button>
<div class="text-center pt-2 pb-3">
  <button class="btn btn-link" (click)="closeWindow()" translate>SHARED.CONTINUE_WITHOUT</button>
</div>
<usrf-open-pass-details [name]="'NON_AUTH.SUMMARY.TITLE' | translate">
  <p [innerHTML]="'NON_AUTH.SUMMARY.DESCRIPTION' | translate"></p>
</usrf-open-pass-details>

<div *ngIf="isFetching$ | async" class="loader"></div>
