<div *ngIf="isOpen" class="container">
  <div *ngIf="view === widgetMods.modal" class="backdrop" (click)="backdropClick()"></div>
  <div class="widget-body" [class.shadow]="view === widgetMods.modal">
    <h3>Get Personalized Advertising with</h3>
    <div class="op-logo-container">
      <img [src]="'/assets/images/open-pass-logo.svg' | useDeployUrl" alt="OpenPass logo" />
    </div>
    <p>OpenPass is used to show you more relevant ads, supports their online businesses and keeps the content free.</p>
    <div class="pb-3">
      <div class="spec-list-option">
        <div class="spec-list-icon">
          <img [src]="'/assets/images/priv-cntrl.svg' | useDeployUrl" alt="info" />
        </div>
        <div>Your information will never be shared with anyone without your permission.</div>
      </div>
      <div class="spec-list-option">
        <div class="spec-list-icon">
          <img [src]="'/assets/images/email-sec.svg' | useDeployUrl" alt="lock" />
        </div>
        <div>Unlock access to a large network of websites for free.</div>
      </div>
      <div class="spec-list-option">
        <div class="spec-list-icon">
          <img [src]="'/assets/images/ntwrk.svg' | useDeployUrl" alt="safe" />
        </div>
        <div>Control your privacy with just <a href="https://criteo.com/privacy">one link</a>.</div>
      </div>
    </div>
    <button type="button" class="btn btn-wide btn-primary" (click)="launchOpenPassApp()">Access with OpenPass</button>
  </div>
</div>
