$primary-dark: #020a40;
$primary-light: #78cc00;

$secondary-neutral-1: #484848;
$secondary-neutral-2: #868686;
$secondary-neutral-3: #cfcccc;

$secondary-accent-1: #2d4d00;
$secondary-accent-2: #4e8400;

$error-color: #f00;

$text-color: $primary-dark;
$link-color: $secondary-accent-2;
$base-radius: 2px;

$max-z-index: 2147483647;
