.form-control {
  &[type='text'],
  &[type='number'],
  &[type='email'] {
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: $base-radius;
    border: 1px solid $primary-dark;
    outline: 1px solid transparent;
    transition: border-color 0.15s;
    font-size: 0.75rem;

    & + .hint {
      visibility: hidden;
      color: $error-color;
      margin-top: 4px;
      font-size: 0.6rem;
    }

    &:not(:placeholder-shown):invalid,
    &.invalid {
      border-color: $error-color;

      & + .hint {
        visibility: visible;
      }
    }

    &:focus {
      border-color: $primary-light;
    }
  }

  &[type='number'] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }

    -moz-appearance: textfield;
  }

  &[type='checkbox'] {
    flex-shrink: 0;
    cursor: pointer;
    appearance: none;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: $base-radius;
    border: 1px solid $primary-dark;
    outline: 1px solid transparent;
    transition: background-color 0.15s, border-color 0.15s;

    &:checked {
      background: $primary-light;
      border-color: $primary-light;

      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 0.2rem;
        height: 0.5rem;
        border-radius: 0.5px;
        border: 0 solid transparent;
        border-right: 2px solid $primary-dark;
        border-bottom: 2px solid $primary-dark;
        transform: rotate(45deg) translate(4px, -2px);
      }
    }
  }
}

.form-group {
  margin: 0.5rem 0;
}
