@using Criteo.IdController
@addTagHelper *, Criteo.IdController
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <style inline src="/dist/css/style.css"></style>

    <script inline type="text/javascript" src="/dist/js/utils.js"></script>
    @RenderSection("Scripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>