@{
    Layout = "_Layout";
    ViewData["Title"] = "Id-Controller widget";
    ViewData["OptionsUrl"] = $"/api/widget/options?originHost={ViewData["OriginHost"]}";
}

@section Scripts
{
    <script type="text/javascript">
        window.idController = {
            optionsUrl: "@ViewData["OptionsUrl"]",
            originHost: "@ViewData["OriginHost"]"
        };
    </script>
    <script inline type="text/javascript" src="/js/initialBanner.js"></script>
}

@* Body section *@
<main>
    <img src="/img/my-advertising-experience.svg" alt="My advertising experience" class="logo" />
    <h1>Improve your ad experience</h1>
    <p>Discover more relevant ad content.</p>
    <p>Opt-in to receive your tailored ad experience.</p>
    <button id="openOptionsBanner" class="pure-button pure-button-primary">Learn more</button>
</main>
