@{
    Layout = "_Layout";
    ViewData["Title"] = "Id-Network introduction";
}

@section Scripts
{
    <script type="text/javascript">
        function goBackToPreviousSite() {
            window.history.back();
        }

        window.onload = () => {
            var hostname = "@ViewData["OriginHost"]";
            Utils.sendEvent(Utils.eventType.LearnMore, hostname);
        }
    </script>
}

@* Body section *@
<h1>Learn how the Id-Network is improving advertising</h1>
<p>The Id-Network is indeed improving advertising! Stay tuned!</p>
<button onclick="goBackToPreviousSite()">Back to choices</button>
