@{
    Layout = "_Layout";
    ViewData["Title"] = "Id-Network introduction";
}

@section Scripts
    {
    <script type="text/javascript">
        window.idController = {
            originHost: "@ViewData["OriginHost"]"
        };
    </script>
    <script inline type="text/javascript" src="/js/learnMoreSite.js"></script>
}

@* Body section *@
<h1>Learn how the Id-Network is improving advertising</h1>
<p>The Id-Network is indeed improving advertising! Stay tuned!</p>
<button id="goBackToPreviousSite">Back to choices</button>
