@{
    Layout = "_Layout";
    ViewData["Title"] = "Id-Controller options";
}

@section CustomStyles
{
    <style>
        .option-wrapper {
            display: block;
        }
    </style>
}

@section Scripts
{

}

@* Body section *@
<h1>Improve your ad experience</h1>
<p>Would you prefer a more curated ad experience?</p>
<form class="options">
    <div class="option-wrapper">
        <input type="radio" id="choiceYes" name="choice" value="true" checked>
        <label for="choiceYes">See personalized ads</label>
    </div>
    <div class="option-wrapper">
        <input type="radio" id="choiceNo" name="choice" value="false">
        <label for="choiceNo">See random ads</label>
    </div>
</form>
<button>Save my choice</button>
<a href="#">Learn how we are improving advertising</a>
