@{
    Layout = "_Layout";
    ViewData["Title"] = "Id-Controller options";
    ViewData["LearnMoreUrl"] = $"/api/widget/learn?originHost={ViewData["OriginHost"]}";
}

@section Scripts
    {
    <script type="text/javascript">
        window.idController = {
            originHost: "@ViewData["OriginHost"]"
        };
    </script>
    <script inline type="text/javascript" src="/js/optionsBanner.js"></script>

}

@* Body section *@
<h1>Improve your ad experience</h1>
<p>Would you prefer a more curated ad experience?</p>
<form id="options">
    <div class="option-wrapper">
        <input type="radio" id="choiceYes" name="choice" value="true" checked>
        <label for="choiceYes">See personalized ads</label>
    </div>
    <div class="option-wrapper">
        <input type="radio" id="choiceNo" name="choice" value="false">
        <label for="choiceNo">See random ads</label>
    </div>
    <input type="submit" value="Save my choice">
</form>
<a href="@ViewData["LearnMoreUrl"]">Learn how we are improving advertising</a>
