@{
    Layout = "_Layout";
    ViewData["Title"] = "Id-Controller options";
    ViewData["LearnMoreUrl"] = $"/api/widget/learn?originHost={ViewData["OriginHost"]}";
}

@section Scripts
{
    <script type="text/javascript">
        window.onload = () => {
            var form = document.getElementById('options');

            form.addEventListener('submit', (event) => {
                event.preventDefault();

                var checkedOption = Array.from(form.elements.choice).find((radio) => radio.checked);
                var eventType = (checkedOption.value === "true")
                    ? Utils.eventType.ConsentGranted
                    : Utils.eventType.ConsentNotGranted;

                var hostname = "@ViewData["OriginHost"]";
                Utils.sendEvent(eventType, hostname);
                // TODO: Other stuff like retrieving IFA...
                // TODO: How do we manage the UI after saving choice? Do we display a message / close the window?
            });
        }
    </script>
}

@* Body section *@
<h1>Improve your ad experience</h1>
<p>Would you prefer a more curated ad experience?</p>
<form id="options">
    <div class="option-wrapper">
        <input type="radio" id="choiceYes" name="choice" value="true" checked>
        <label for="choiceYes">See personalized ads</label>
    </div>
    <div class="option-wrapper">
        <input type="radio" id="choiceNo" name="choice" value="false">
        <label for="choiceNo">See random ads</label>
    </div>
    <input type="submit" value="Save my choice">
</form>
<a href="@ViewData["LearnMoreUrl"]">Learn how we are improving advertising</a>
