<h1>Hi there!</h1>
<h3 class="mb-2">Welcome back to OpenPass.</h3>
<p class="mt-2">You have an OpenPass account.</p>
<form (submit)="submitForm()" class="mt-4" ngNativeValidate>
  <div class="form-group">
    <input
      name="email"
      placeholder="Enter email address"
      class="form-control"
      type="email"
      required
      [(ngModel)]="userEmail"
    />
    <div class="hint">Email address is not valid</div>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-link">Not you?</button>
  </div>
  <div class="form-group mt-5">
    <button type="submit" class="btn btn-primary btn-wide">CONTINUE TO SITE</button>
  </div>
</form>

<usrf-copyright></usrf-copyright>
