<h1 data-test="signed-page-title" translate>SIGNED.HEADING</h1>
<h3 class="mb-2" translate>SIGNED.SUB_HEADING</h3>
<p class="mt-2" translate>SIGNED.DESCRIPTION</p>
<form (submit)="submitForm()" class="mt-4" ngNativeValidate>
  <div class="form-group">
    <input
      name="email"
      [placeholder]="'SHARED.FORM.EMAIL_PLACEHOLDER' | translate"
      class="form-control"
      type="email"
      required
      data-test="signed-user-email"
      [(ngModel)]="userEmail"
    />
    <div class="hint" translate>SHARED.FORM.EMAIL_ERROR</div>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-link" data-test="signed-reset-btn" (click)="resetState()" translate>
      SIGNED.NOT_YOU
    </button>
  </div>
  <div class="form-group mt-5">
    <button type="submit" class="btn btn-primary btn-wide" data-test="signed-action-btn" translate>
      SIGNED.ACTION
    </button>
  </div>
</form>

<usrf-copyright></usrf-copyright>
