<h1 data-test="agreement-page-title" translate>AGREEMENT.HEADING</h1>
<p><b translate>AGREEMENT.SUB_HEADING</b></p>
<p [innerHTML]="'AGREEMENT.DESCRIPTION' | translate: { websiteName: websiteName$ | async }"></p>
<details class="pt-1 pb-4">
  <summary data-test="agreement-summary" translate>AGREEMENT.SUMMARY.TITLE</summary>
  <p [innerHTML]="'AGREEMENT.SUMMARY.OPEN_PASS_POWERED' | translate"></p>
  <div class="spec-list-option" data-test="agreement-unified-options">
    <div class="spec-list-icon">
      <img src="./assets/images/seen-ads.png" alt="Seen ads" />
    </div>
    <div translate>AGREEMENT.SUMMARY.REDUCE</div>
  </div>
  <div class="spec-list-option">
    <div class="spec-list-icon">
      <img src="./assets/images/quality.png" alt="Ads Quality" />
    </div>
    <div translate>AGREEMENT.SUMMARY.SHOW</div>
  </div>
  <div class="spec-list-option">
    <div class="spec-list-icon">
      <img src="./assets/images/imprv-cont.png" alt="Free content" />
    </div>
    <div translate>AGREEMENT.SUMMARY.SUPPORT</div>
  </div>
  <p [innerHTML]="'AGREEMENT.SUMMARY.MENAGE_SETTINGS' | translate"></p>
  <p [innerHTML]="'AGREEMENT.SUMMARY.TERMS_LINK' | translate"></p>
</details>
<a class="btn btn-primary btn-wide" routerLink="/success" data-test="agreement-action-btn" translate
  >AGREEMENT.ACTION</a
>
<usrf-copyright></usrf-copyright>
