<h2>Awesome!</h2>
<p><b>One last thing:</b></p>
<p>
  To access <b>{{ websiteName }}</b> and many websites for free while maintaining full control of your privacy, please
  accept the OpenPass Terms and Conditions by clicking Agree & Go to Site.
</p>
<details class="pt-1 pb-4">
  <summary>How does OpenPass work?</summary>
  <p>
    OpenPass is powered by <a href="">Unified ID</a>, which is an improvement over third-party cookies that offers more
    privacy control. It can:
  </p>
  <div class="spec-list-option">
    <div class="spec-list-icon">
      <img src="./assets/images/seen-ads.png" alt="Seen ads" />
    </div>
    <div>Reduce how often you have to consent to annoying cookie banners</div>
  </div>
  <div class="spec-list-option">
    <div class="spec-list-icon">
      <img src="./assets/images/quality.png" alt="Ads Quality" />
    </div>
    <div>Show you more relevant and fewer repeat ads</div>
  </div>
  <div class="spec-list-option">
    <div class="spec-list-icon">
      <img src="./assets/images/imprv-cont.png" alt="Free content" />
    </div>
    <div>Support free content on the open internet</div>
  </div>
  <p>Manage your settings in the <a>privacy portal</a>.</p>
  <p>
    <a href="">View terms and conditions</a>
  </p>
</details>
<a class="btn btn-primary btn-wide" routerLink="/success"> AGREE & GO TO SITE </a>
<div class="text-center p-3">
  <a href="">Other way to access this site</a>
</div>
<div class="provided-by">
  <strong>Provided by</strong>
  <img src="./assets/images/open-pass-logo-sm.png" alt="OpenPass" />
</div>
