<div *ngIf="mode === widgetMods.modal && isOpen" class="backdrop"></div>

<div *ngIf="isOpen" class="container">
  <div class="widget-body" [class.shadow]="mode === widgetMods.modal">
    <h3>Get Access With</h3>
    <div class="op-logo-container">
      <img src="{{ webComponentHost }}/assets/images/open-pass-logo.svg" alt="OpenPass logo" />
    </div>
    <p>
      You're about to access <b>{{ websiteName }}</b> for free! OpenPass enables <b>{{ websiteName }}</b> to show you
      more relevant ads, wish supports their business and keeps the content free.
    </p>
    <div class="pb-3">
      <div class="spec-list-option">
        <div class="spec-list-icon">
          <img src="{{ webComponentHost }}/assets/images/priv-cntrl.svg" alt="info" />
        </div>
        <div>Your information will never be shared with anyone without your permission.</div>
      </div>
      <div class="spec-list-option">
        <div class="spec-list-icon">
          <img src="{{ webComponentHost }}/assets/images/email-sec.svg" alt="lock" />
        </div>
        <div>Unlock access to a large network of websites for free.</div>
      </div>
      <div class="spec-list-option">
        <div class="spec-list-icon">
          <img src="{{ webComponentHost }}/assets/images/ntwrk.svg" alt="safe" />
        </div>
        <div>Control your privacy with just <a href="https://criteo.com/privacy">one link</a>.</div>
      </div>
    </div>
    <button type="button" class="btn btn-wide btn-primary" (click)="launchIdController()">Sign up with OpenPass</button>
    <div class="text-center p-3">
      <a href="">Other way to access this site</a>
    </div>
  </div>
</div>
