<h3 class="mb-1" translate>NON_AUTH.HEADING</h3>
<div class="op-logo-container">
  <img src="./assets/images/open-pass-logo.png" alt="OpenPass" data-test="non-auth-img-logo" />
</div>
<p [innerHTML]="'NON_AUTH.DESCRIPTION' | translate: { websiteName: (websiteName$ | async) || '' }"></p>
<p translate>NON_AUTH.WITH</p>
<div class="my-3">
  <div class="spec-list-option" data-test="non-auth-pros-item">
    <div class="spec-list-icon">
      <img src="./assets/images/email-sec.png" alt="info" data-test="non-auth-img-info" />
    </div>
    <div translate>NON_AUTH.OPEN_PASS_PROS.INFORMATION</div>
  </div>
  <div class="spec-list-option" data-test="non-auth-pros-item">
    <div class="spec-list-icon">
      <img src="./assets/images/ntwrk.png" alt="lock" data-test="non-auth-img-lock" />
    </div>
    <div [innerHTML]="'NON_AUTH.OPEN_PASS_PROS.ACCESS' | translate"></div>
  </div>
  <div class="spec-list-option" data-test="non-auth-pros-item">
    <div class="spec-list-icon">
      <img src="./assets/images/priv-cntrl.png" alt="safe" data-test="non-auth-img-safe" />
    </div>
    <div translate>NON_AUTH.OPEN_PASS_PROS.CONTROL</div>
  </div>
</div>
<button
  type="button"
  class="btn btn-wide btn-primary"
  data-test="non-auth-action-btn"
  translate
  (click)="fetchIfaAndProceed()"
>
  NON_AUTH.ACTION
</button>
<usrf-open-pass-details class="d-block pt-4" [name]="'NON_AUTH.SUMMARY.TITLE' | translate">
  <p [innerHTML]="'NON_AUTH.SUMMARY.DESCRIPTION' | translate"></p>
</usrf-open-pass-details>

<div *ngIf="isFetching$ | async" class="loader"></div>
