
/* Common */
body {
    background: #FFF;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    overflow: hidden;
    padding: 1em 0;
    text-align: center;
    width: 100%;
}

body.learn-more {
    overflow-y: auto;
}

h1 {
    font-size: 1.2em;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: .9em;
}

p, a {
    font-size: .8em;
}

form {
    margin-bottom: 1em;
}

button {
    font-weight: bold;
}

img.logo {
    max-width: 15em;
}

.button-success {
    background: rgb(28, 184, 65);
    color: white;
}

/* Options banner */
.option-wrapper {
    display: block;
}

.option-wrapper label {
    display: inline-block !important;
}

/* Learn more */
.learn-more h1 {
    margin-bottom: 1em;
}

.learn-more p {
    padding: 0 1em;
    text-align: justify;
}


.learn-more button {
    margin-top: 1em;
}

#newsletter {
    margin-top: 1em;
}

#newsletter input {
    display: inline-block;
    margin: 0;
}

#newsletter button {
    margin: 0;
}