.spec-list-option {
  display: flex;
  align-items: center;
  padding: 5px 0;

  .spec-list-icon {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}

/*temp*/
.op-logo-container {
  font-size: 40px;
  letter-spacing: -2.3px;
  font-weight: 600;

  &::before {
    content: 'C';
    color: var(--secondary-color);
    position: absolute;
    transform: skew(12deg, 11deg) translateX(1px);
  }

  &::after {
    content: '™';
    font-size: 0.7rem;
    position: absolute;
    transform: translateX(10px);
  }
}
/*temp*/
