:host {
  &.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2147483647;

    .container {
      overflow: auto;
      padding: 2em;

      @media screen and (max-width: 800px) {
        & {
          padding: 1em;
        }
      }

      iframe {
        height: 630px;

        @media screen and (max-width: 500px) {
          & {
            width: 90vw;
          }
        }
      }
    }
  }
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @supports (display: grid) {
    & {
      display: grid;
    }
  }
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background: rgb(0 0 0 / 10%);
}

iframe {
  border: none;
  width: 400px;
  margin: auto;
  z-index: 1;
}
